
<form name="$ctrl.reviewForm" ng-submit="$ctrl.updateAccount($ctrl.account)">



	<fieldset class="form-group">

		<!-- First Name -->
		<div class="form-group"
			ng-class="{ 'has-error': $ctrl.reviewForm.firstName.$touched && $ctrl.reviewForm.firstName.$invalid }">
			<label class="control-label" for="firstName">First Name</label>

			<input class="form-control" type="text" id="firstName" name="firstName" title="First Name"
				ng-model="$ctrl.account.firstName" ng-minlength="2" required />

			<!-- err Msg -->
			<div class="help-block" ng-messages="$ctrl.reviewForm.firstName.$error"
				ng-if="$ctrl.reviewForm.firstName.$touched">
				<p ng-message="minlength">Your First Name is too short.</p>
				<p ng-message="required">Your First Name is required.</p>
			</div>
		</div>


		<!-- Last Name -->
		<div class="form-group"
			ng-class="{ 'has-error': $ctrl.reviewForm.lastName.$touched && $ctrl.reviewForm.lastName.$invalid }">
			<label class="control-label" for="lastName">Last Name</label>

			<input class="form-control" type="text" id="lastName" name="lastName" title="Last Name"
				ng-model="$ctrl.account.lastName" ng-minlength="2" required />

			<!-- err Msg -->
			<div class="help-block" ng-messages="$ctrl.reviewForm.lastName.$error"
				ng-if="$ctrl.reviewForm.lastName.$touched">
				<p ng-message="minlength">Your Last Name is too short.</p>
				<p ng-message="required">Your Last Name is required.</p>
			</div>
		</div>

		<!-- email -->
		<div class="form-group"
			ng-class="{ 'has-error': $ctrl.reviewForm.email.$touched && $ctrl.reviewForm.email.$invalid }">
			<label class="control-label" for="email">email</label>

			<input class="form-control" type="email" id="email" name="email" title="email"
				ng-model="$ctrl.account.email"
				ng-pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"
				required />

			<!-- err Msg -->
			<div class="help-block" ng-messages="$ctrl.reviewForm.email.$error"
				ng-if="$ctrl.reviewForm.email.$touched">
				<p ng-message="pattern">This needs to be a valid email</p>
				<p ng-message="required">Your email is required.</p>
			</div>
		</div>

		<!-- Date Of Birth -->
		<div class="form-group"
			ng-class="{ 'has-error': $ctrl.reviewForm.dateOfBirth.$touched && $ctrl.reviewForm.dateOfBirth.$invalid }">
			<label class="control-label" for="dateOfBirth">Date Of Birth</label>
			<p class="input-group">
				<input class="form-control" placeholder="1995-10-21" type="text" id="dateOfBirth"
					name="dateOfBirth" title="Date Of Birth" ng-model="$ctrl.account.dateOfBirth"
					uib-datepicker-popup is-open="$ctrl.datepicker.opened" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="form-control btn btn-default" ng-click="$ctrl.openDatepicker()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary pull-right" value="Save" />
		</div>
	</fieldset>
</form>